$header-bg-color: rgba(255, 255, 255, .95);

.header {
  background-color: $header-bg-color;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 30%;
    display: flex;
    margin-top: 5px;
  }

  &__menu {
    display: flex;
    width: 40%;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

    a {
      margin-right: 20px;
      text-decoration: none;
      color: black;
     h4 {
font-size: 20px;
     }
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    


    &--user {
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}